<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12"><h1>JavaScript Calculator</h1>
    </div>
  </div>
</div>
<div class="container-fluid calculator">
  <div class="row">
    <div class="result">
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

        <button class="btn" id="ac">AC</button>
        <button class="btn" id="clear">CE</button>
        <button class="btn op" id="percent">%</button>
        <button class="btn op" id="division">&divide;</button>
      </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="">
        <button class="btn num" id="seven">7</button>
        <button class="btn num" id="eight">8</button>
        <button class="btn num" id="nine">9</button>
        <button class="btn op" id="times">&times;</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <button class="btn num" id="four">4</button>
        <button class="btn num" id="five">5</button>
        <button class="btn num" id="six">6</button>
        <button class="btn op" id="minus">-</button>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

        <button class="btn num" id="one">1</button>
        <button class="btn num" id="two">2</button>
        <button class="btn num" id="three">3</button>
        <button class="btn op" id="plus">+</button>
      </div>

  </div>
  <div class="row">
    <div class="col-sm-12">

        <button class="btn num" id="zero">0</button>
        <button class="btn num" id="dot">.</button>
        <button class="btn" id="equals">=</button>
      </div>

  </div>
</div>
